djangorestframework==3.14.0
Django==4.2.2
PyMySQL==1.1.0
django-storages==1.13.2
config==0.5.1

boto3==1.28.1
#회원가입
PyJWT==2.7.0
djangorestframework-simplejwt==5.2.2

# ai
pandas==1.4.2
numpy==1.24.4
torch==2.0.1
Pillow==10.0.0
matplotlib==3.7.1
opencv-python==4.8.0.74

django-celery-results
torchvision
