@font-face {
  font-family: 'Do Hyeon';
  src:
    url('../src/assets/font/BMDOHYEON_otf.otf') format('opentype'),
    url('../src/assets/font/BMDOHYEON_ttf.ttf') format('truetype');
}

body {
  font-family: 'Do Hyeon', sans-serif;
}
